.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url("../icon/close-icon.svg");
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.modal__close-button:hover {
  cursor: url("../icon/pointer.svg"), pointer;
  opacity: 1;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: url("../icon/pointer.svg"), pointer;
  opacity: 1;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input_error {
  border: 1px solid rgba(225, 0, 0, 0.6);
}

.modal__save-button {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
  color: rgba(252, 245, 229, 1);
}

.modal__save-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: url("../icon/pointer.svg"), pointer;
}

.modal__save-button_inactive {
  opacity: 0.5;
  pointer-events: none;
}

.modal__delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 630px;
  height: 172px;
}
.modal__delete-close-button {
  background-image: url("../icon/close-icon-light.svg");
  right: -42px;
  top: -5px;
  opacity: 1;
}
.modal__delete-button {
  background-color: rgba(255, 101, 101, 1);
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  width: 156px;
  height: 52px;
  border: none;
  margin-right: 20px;
}
.modal__delete-button:hover {
  cursor: url("../icon/pointer.svg"), pointer;
  background-color: rgba(255, 51, 51, 1);
}
.modal__cancel-button {
  border-color: rgba(33, 33, 33, 1);
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  width: 156px;
  height: 52px;
  border: solid 1px;
}
.modal__cancel-button:hover {
  cursor: url("../icon/pointer.svg"), pointer;
  background-color: rgba(33, 33, 33, 1);
  color: white;
}

.modal__delete-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.modal__preview-content {
  padding: 0;
  background-color: transparent;
  position: relative;
}
.modal__image {
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  width: 100%;
}
.modal__close-button_preview {
  background-image: url("../icon/close-icon-preview.svg");
  top: 0;
  right: -45px;
  border: 2px none rgba(255, 255, 255, 1);
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 8px;
  max-width: fit-content;
  color: rgb(255, 255, 255);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.modal__error {
  display: block;
  color: red;
}

.modal__error_visible {
  color: rgba(255, 0, 0, 0.7);
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-button {
    width: 100%;
  }

  .modal__image_preview {
    max-width: 288px;
  }

  .modal__close-button_preview {
    top: -40px;
    right: 0;
  }

  .modal__delete-container {
    width: 300px;
    height: fit-content;
    text-align: center;
  }
  .modal__delete-title {
    margin: 10px 0 12px;
    font-size: 20px;
    line-height: 120%;
  }
  .modal__delete-form {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  .modal__delete-close-button {
    right: -5px;
    top: -55px;
  }
}
